.signOutCard {
  margin-top : 50px;
  max-width: 60vw;
  height: 340px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  float: left;
  flex-direction: column;
  position: relative;
}

.alertCard {
  margin-top : 50px;
  width: 20%;
  height: 340px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  float: right;
  vertical-align:top;
  flex-direction: row;
  position: relative;
}

.alertCardMini {
  text-align: center;
  margin-right : 10%;
  margin-left : 10%;
  margin-top : 38px;
  margin-bottom : 0px;
  width: 70%;
  height: 230px;
  background-image: linear-gradient(320deg, #1ac7fe,#ffffff);
  padding: 20px;
  border-radius: 20px;
  vertical-align:top;
  flex-direction: row;
  position: relative;
}

.NewsCard {
  text-align: center;
  margin-top : 50px;
  width: 40%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  float: right;
  flex-direction: column;
  vertical-align:top;
}

.pAlert {
  font-size: 15px;
  text-align: center;
  margin-top : 2px;
  margin-bottom : 3px;
}
.hAlert {
  margin-top : 0px;
  margin-bottom : 3px;
}
.hNews {
  margin-top : 10px;
  margin-bottom : 10px;
}

.iError{
  height: 100px;
  width: 100px;
  margin-top: 35px;
}
.iErrorPortfolio{
  height: 150px;
  width: 150px;
  
  margin-top: 50px;
  margin-bottom: 35px;
}

.hErrorPortfolio{
  height: 100px;
  
}
.hError{
  margin-top : 0px;
  margin-bottom : 3px;
}


.iSwap {
  margin-top : 0px;
  margin-bottom : 3px;
  height: 20px;
  width: 150px;
  border-radius: 50px;
  text-align: center;
}

.sSwap {
  height: 25px;
  width: 160px;
  border-radius: 50px;
  text-align: center;
}

.sSwapData {
  height: 25px;
  width: 100px;
  border-radius: 50px;
  text-align: center;
}

.divNewCoins{
  display: inline;
}
.calendar{
  border-radius: 5px;
  width : 90px;
  display: inline;
  }
.iAlert {
  margin-top : 0px;
  margin-bottom : 3px;
  height: 20px;
  width: 150px;
  border-radius: 50px;
  text-align: center;
}
.sAlert {
  height: 25px;
  width: 150px;
  border-radius: 50px;
  text-align: center;
}

.sPort {
  height: 25px;
  width: 150px;
  margin-bottom : 25px;
  border-radius: 50px;
  text-align: center;
}

.top10Card{
  margin-top : 50px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
  vertical-align:top;
  flex-direction: row;
  position: relative;
}

.smallCard {
  margin-top : 50px;
  margin-right : 65px;
  width: 20vw;
  height: 300px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
  float : left;
  vertical-align:top;
  flex-direction: row;
  position: relative;
}

.medCard {
  margin-top : 50px;
  margin-right : 65px;
  width: 45vw;
  height: 300px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
  float : right;
  flex-direction: row;
  vertical-align:top;
  position: relative;
}

.gainersCard {
  margin-top : 50px;
  margin-bottom : 100px;
  margin-right : 65px;
  width: 38%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
  float : right;
  flex-direction: row;
  vertical-align:top;
  position: relative;
}
.losersCard {
  margin-top : 50px;
  margin-bottom : 100px;
  margin-right : 5%;
  width: 38%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
  float : left;
  flex-direction: row;
  vertical-align:top;
  position: relative;
}

.chart{
  margin-top : 20px;
  display: inline-block;
  flex-direction: row;
  vertical-align:top;
  position: relative;
  border-radius: 20px;
}

.swapCardMini {
  text-align: center;
  margin-right : 22px;
  margin-left : 10px;
  margin-top : 0px;
  margin-bottom : 0px;
  width: 150px;
  height: 300px;
  background-image: linear-gradient(320deg, #ffffff,#1ac7fe);
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  flex-direction: column;
  vertical-align:top;
  position: relative;
}
.portfolioCardMini{
  text-align: center;
  margin-right : 60px;
  margin-left : 30px;
  margin-top : 0px;
  margin-bottom : 20px;
  width: 80%;
  height: 100%;
  background-image: linear-gradient(320deg, #1ac7fe,#ffffff);
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  vertical-align:top;
  flex-direction: row;
  position: relative;
}

.portfolioCard {
  margin-top : 50px;
  margin-right : 5px;
  width: 40%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
  display: inline-block;
  flex-direction: column;
  vertical-align:top;
  position: relative;
  text-align: center;
}

.table {
  width: 100%;
  margin-top : 0px;
  margin-bottom : 20px;
  border-collapse: collapse;
  text-align: center;
  vertical-align:top;
  border-radius : 0px;
  overflow: hidden;
}
.hTop10{
  margin-top: 0px;
  margin-bottom: 10px;
}
.divPort{
  display: inline-block;
}
.hPortL{
  overflow: hidden;
  flex-direction: row;
  float: left;
  vertical-align:top;
  width : 100%;
  position:relative;
  margin-top: 0px;
  margin-bottom: 2px;
  display: inline;
}

.hPortR{
  overflow: hidden;
  flex-direction: row;
  margin-right : 0px;
  display: inline;
  vertical-align:top;
  position:relative;
  margin-top: 0px;
  margin-bottom: 2px;
}
.td {
  font-size: 14px;
  border: 1px solid;
}

.pTextHidden {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 1000;
}

.subHeader {
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
}

.detailsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.detailsDiv > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 0.5;
}
.detailsDiv > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 0.5;
}

.detailsDiv > div > p {
  overflow-wrap: anywhere;
}

.fotter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
  column-gap: 15px;
}

.fotter > button {
  width: 100px;
}

.fotter > button:nth-child(2) {
  border: 1px solid black;
  background-image: none;
  color: black;
  background-color: transparent;
}

.refresh {
  color: white;
  background-color: rgb(104, 81, 255);
  border: 0px solid transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  padding: 10px;
}
 
.signOutCardMobile {
  max-width: 60%;
  max-height: 60%;
  background-color: rgb(255, 255, 255);
  float : center;
  border-radius: 20px;
  display: block;
}

